$blue25:#f2f4f7;
$blue50:#E8F2FF;
$blue100:#E8F2FF;
$blue200:#94c1fd;
$blue300:#64a5fc;
$blue400:#4593FC;
$blue500:#1778FB;
$blue600:#156DE4;
$blue700:#1055B2;
$success400:#74F38D;
$success700:#3aaa50;
$warning400:#F1C77E;
$warning500:#edb95e;
$error400:#F6695E;
$neutral25:#fafafa;
$neutral50:#ececec;
$neutral100:#c4c4c4;
$neutral200:#a8a8a8;
$neutral300:#808080;
$neutral400:#686868;
$neutral600:#3c3c3c;
$neutral800:#242424;
$neutral900:#1c1c1c;
